* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FCDEBE;
}

.h1-div {
    color: #00A7E1;
    margin-left: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

img {
    display: flex;
    margin-left: 40px;
    width: 3000%;
    border-radius: 20px;
}