html {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
}

#titre {
    background-color: gray;
    padding: 10px;
    margin: 5% auto 0%;
    text-align: center;
    font-size: xx-large;
    width: 60%;
}

#photo {
    display: flex;
    margin: auto;
    margin: 2% auto;
    justify-content: space-around;
}

#description {
    background-color: gray;
    margin: auto 10%;
    padding: 1%;
    font-size: large;
    text-align: center;

}

#ballon {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 10%;
    height: 18%;
}