html {
    background-color: #222222;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

#titre {
    background-color: white;
    padding: 10px;
    margin: 5% auto;
    text-align: center;
    border: 1px solid black;
    font-size: xx-large;
}

#photo {
    margin: auto;
    border: 1px solid black;
}

#description {
    border: 1px solid black;
    margin: auto 10%;
    color: white;

}