:root {
    --primary: #c46723;
    --secondary: #191a1f;
    --back: #2c2c2c;
}

body {
    background-color: var(--back) !important;
    font-family: Teko, System !important;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background: linear-gradient(20deg, var(--back) 20%, var(--primary) 100%);

}

#title>span {
    font-family: Teko, System;
    font-size: calc(40px + 10vh);
    line-height: calc(40px + 10vh);
}

#title {
    opacity: 1;
    z-index: 100;
}

#subtitle {
    font-size: 2rem;
    opacity: 0;
}

#header-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    /* z-index: 100; */
    width: 100%;
    box-shadow: inset 50px 50px 70px var(--back);
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.header-min #header-bg {
    height: 80px;
}

.header-min {
    height: 80px;
    min-height: 80px;
}

@media screen and (max-height: 600px) {
    #header-bg {
        height: 600px
    }
}

#logo {
    z-index: 100;
    margin-left: 10px;
}

#timer {
    margin-left: 5px;
}


#equipe {
    min-height: 800px;
    color: white;
    /* background: center no-repeat url("https://wallup.net/wp-content/uploads/2016/01/165482-esport-Electronic_Sports_World_Cup-Dota_2.jpg");
    box-shadow: inset 50px 50px 70px var(--back);
    opacity:0.4; */
}

#discoverbtn {
    z-index: 100;
    font-size: 2rem;
    padding-top: 12px;
    line-height: 2rem;
    color: var(--primary);
    text-shadow: 0 0 10px black;
    opacity: 0;
    border: 1px solid var(--primary)
}

.fadeIn {
    transition: 1s !important;
    opacity: 1 !important;
}

#discoverbtn:hover {
    backdrop-filter: blur(8px);
    transition: all .15s linear
}

@keyframes blink {
    0% {
        display: block;
        opacity: 0;
    }

    49% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

#blink {
    animation: blink 0.7s ease-in infinite;
}

header {
    min-height: 600px;
    height: 100vh;
}