:root {
    --primary: #c46723;
    --secondary: #191a1f;
    --back: #2c2c2c; 
  }
  

.nav-link {
    color:white;
}

#title > span {
    font-family: Teko, System;
    font-size: calc(40px + 10vh);
    line-height: calc(40px + 10vh);
}

#title {
    padding-bottom: -25px;
}

#equipe{
    height: 300px;
}
@keyframes blink {
    0% {
        display: block;
        opacity: 0;
    }

    49% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

#blink {
    animation: blink 0.7s ease-in infinite;
}